In [2]:
import pandas as pd
from pathlib import Path

In [3]:
caminho = r"C:\Users\FARIAS\Desktop\ff projetos 2701 - Copia\Rastreamento F&F BA EM AJUSTE 2.xlsx"
data_frame_excell = pd.read_excel(caminho,sheet_name="F&F BA")#sheet_name serve para saber qual panilha usar 

df = data_frame_excell.head(100)#head serve como o TOP no sql escolhe a quantidade de linhas

# display(df.dropna(subset=['Data Documento de Transporte'])) #dropna serve para ditar os termo NaN da tabela o subset serve para dizer qual coluna
# display(df.dropna()) #retornara zero linha pq ele tirar todas as linha que tenha em alguma NaN
# df["Canal"]=df['Canal'].fillna("teste") serve para substituir valores NaN por uma valor que eu queira
df.loc[['JANEIRO'],['a']]

KeyError: "None of [Index(['JANEIRO'], dtype='object')] are in the [index]"

In [34]:
import pandas as pd
# loc (linhas , colunas )
# Criando um novo DataFrame
data = {'Nome': ['João', 'Maria', 'Pedro', 'Ana'],
        'Idade': [25, 30, 35, 40],
        'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Salvador']}

df = pd.DataFrame(data)

print("DataFrame Original:")
print(df)
linha_0 = df.loc[0]
print("Acessando a primeira linha:")
print(linha_0)

coluna_nome = df.loc[:, 'Nome']
print("Acessando a coluna 'Nome':")
print(coluna_nome)

valor_2_nome = df.loc[2, 'Nome']
print("Acessando o valor na linha 2 e coluna 'Nome':")
print(valor_2_nome)

DataFrame Original:
    Nome  Idade          Cidade
0   João     25       São Paulo
1  Maria     30  Rio de Janeiro
2  Pedro     35  Belo Horizonte
3    Ana     40        Salvador
Acessando a primeira linha:
Nome           João
Idade            25
Cidade    São Paulo
Name: 0, dtype: object
Acessando a coluna 'Nome':
0     João
1    Maria
2    Pedro
3      Ana
Name: Nome, dtype: object
Acessando o valor na linha 2 e coluna 'Nome':
Pedro

In [36]:
import pandas as pd

# Criando um DataFrame de exemplo
df = pd.DataFrame({'A': [1, 2, 3, 4],
                   'B': [5, 6, 7, 8]},
                   index=['a', 'b', 'c', 'd'])

# Acessando a linha com rótulo 'b'
linha_b = df.loc['b'] # como loc é linha coluna , e so tem um parametro , entçao ele pegou tudo da linnha que tinha o termo b
print(linha_b) 
# Acessando a coluna 'A'
coluna_A = df.loc[:, 'A']

print(coluna_A)

A    2
B    6
Name: b, dtype: int64
a    1
b    2
c    3
d    4
Name: A, dtype: int64

In [18]:
import pandas as pd
aba  ="F&F BA" 
df_tabelao = pd.read_excel(caminho,sheet_name= aba,engine="openpyxl")
# df_tabelao
df_tabelao.loc[df_tabelao['Data Documento de Transporte'].notna(), :]

,Quant,Mês,Origem,Transportadora,NF,Volume,Valor,Cliente,Cidade,UF,...,Data Documento de Transporte,Data do Canhoto,Canal,Codigo Cliente,Mesorregião,Microrregião,Dias Uteis,1 ° COLETA,Verificação,Verificação II
32,33,JANEIRO,BA,CLAUDIO DONATO,337988,1,1007.95,PINTO FRANCA COMERCIO DE PRODUTOS,FEIRA DE SANTANA,BA,...,2024-01-02 00:00:00,2024-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,SIM,0.0,0.0
33,34,JANEIRO,BA,VIP ENTREGA,337989,5,8969.10,INSEMINE COM.PROD.AGROP.LTDA,SALVADOR,BA,...,2024-01-02 00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,SIM,1.0,0.0
34,35,JANEIRO,BA,VIP ENTREGA,337990,1,400.00,VJ FARMA LTDA,SALVADOR,BA,...,2024-01-02 00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,SIM,1.0,0.0
35,36,JANEIRO,BA,VIP ENTREGA,337991,1,584.90,VJ FARMA LTDA,SALVADOR,BA,...,2024-01-02 00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,SIM,1.0,0.0
36,37,JANEIRO,BA,VIP ENTREGA,337992,2,1776.31,VJ FARMA LTDA,SALVADOR,BA,...,2024-01-02 00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,SIM,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2353,2355,JANEIRO,BA,VDC LOG,340438,1,584.12,FARMACIA PRECO POPULAR DE PARIS LTD,PARIPIRANGA,BA,...,00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
2354,2356,JANEIRO,BA,VDC LOG,340439,1,465.05,M D BARBOSA,BARRA DO MENDES,BA,...,00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
2355,2357,JANEIRO,BA,VDC LOG,340440,1,791.44,LINLI PRODUTOS FARMACEUTICOS LTDA M,MARACAS,BA,...,00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
2356,2358,JANEIRO,BA,VDC LOG,340441,8,6871.63,FERNANDO DE OLIVEIRA GUIMARAES,PONTO NOVO,BA,...,00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
2357,2359,JANEIRO,BA,VDC LOG,340442,3,1996.66,JA COMERCIAL FARMACEUTICO LTDA,TANHACU,BA,...,00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0

In [15]:
# import pandas as pd
aba  ="F&F BA" 
# df_tabelao = pd.read_excel(caminho,sheet_name= aba)
# # df_tabelao
# df_tabelao.loc[df_tabelao['Cliente'].notna(), :]

import pandas as pd
from openpyxl import load_workbook

# Carregar o arquivo do Excel
wb = load_workbook(caminho)

# Escolher a aba que você quer carregar
sheet = wb[aba]

# Criar um DataFrame do pandas com os valores presentes na aba
data = sheet.values
cols = next(data)
data = list(data)
df = pd.DataFrame(data, columns=cols)

# Agora, o DataFrame `df` contém os valores presentes na sua aba do Excel
df

C:\Users\FARIAS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Slicer List extension is not supported and will be removed
  warn(msg)

,Quant,Mês,Origem,Transportadora,NF,Volume,Valor,Cliente,Cidade,UF,...,Data Documento de Transporte,Data do Canhoto,Canal,Codigo Cliente,Mesorregião,Microrregião,Dias Uteis,1 ° COLETA,Verificação,Verificação II
0,1.0,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20635.0,2.0,1185.00,M & C ARAUJO DROGARIA LTDA,PIRIPIRI,PI,...,None,None,None,None,"=IFERROR(VLOOKUP(I2,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I2,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O2="""","""",IF(Z2="""",NETWORKDAYS.INTL...",None,=AA2=O2,=AA2<O2
1,2.0,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20636.0,10.0,3433.89,MARTA FORTES CASTELO BRANCO ME,ESPERANTINA,PI,...,None,None,None,None,"=IFERROR(VLOOKUP(I3,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I3,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O3="""","""",IF(Z3="""",NETWORKDAYS.INTL...",None,=AA3=O3,=AA3<O3
2,3.0,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20637.0,1.0,2940.75,AMERICA MEDICAMENTOS E CORRELATOS L,TERESINA,PI,...,None,None,None,None,"=IFERROR(VLOOKUP(I4,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I4,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O4="""","""",IF(Z4="""",NETWORKDAYS.INTL...",None,=AA4=O4,=AA4<O4
3,4.0,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20638.0,6.0,3091.31,SUELY BARBOSA E SILVA ALVES FARMACE LTDA,TERESINA,PI,...,None,None,None,None,"=IFERROR(VLOOKUP(I5,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I5,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O5="""","""",IF(Z5="""",NETWORKDAYS.INTL...",None,=AA5=O5,=AA5<O5
4,5.0,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20639.0,1.0,686.82,KELLEY C B SLVA,TERESINA,PI,...,None,None,None,None,"=IFERROR(VLOOKUP(I6,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I6,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O6="""","""",IF(Z6="""",NETWORKDAYS.INTL...",None,=AA6=O6,=AA6<O6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4751,NaN,None,None,None,NaN,NaN,NaN,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4752,NaN,None,None,None,NaN,NaN,NaN,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4753,NaN,None,None,None,NaN,NaN,NaN,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4754,NaN,None,None,None,NaN,NaN,NaN,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4755,NaN,None,None,None,NaN,NaN,NaN,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
df.loc[df['Data Documento de Transporte'].notna(), :]

,Quant,Mês,Origem,Transportadora,NF,Volume,Valor,Cliente,Cidade,UF,...,Data Documento de Transporte,Data do Canhoto,Canal,Codigo Cliente,Mesorregião,Microrregião,Dias Uteis,1 ° COLETA,Verificação,Verificação II
32,33.0,JANEIRO,BA,CLAUDIO DONATO,337988.0,1.0,1007.95,PINTO FRANCA COMERCIO DE PRODUTOS,FEIRA DE SANTANA,BA,...,"=VLOOKUP(E34,[2]Principal!$C:$I,7,0)","=VLOOKUP(E34,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I34,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I34,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O34="""","""",IF(Z34="""",NETWORKDAYS.IN...",SIM,=AA34=O34,=AA34<O34
33,34.0,JANEIRO,BA,VIP ENTREGA,337989.0,5.0,8969.10,INSEMINE COM.PROD.AGROP.LTDA,SALVADOR,BA,...,"=VLOOKUP(E35,[2]Principal!$C:$I,7,0)","=VLOOKUP(E35,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I35,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I35,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O35="""","""",IF(Z35="""",NETWORKDAYS.IN...",SIM,=AA35=O35,=AA35<O35
34,35.0,JANEIRO,BA,VIP ENTREGA,337990.0,1.0,400.00,VJ FARMA LTDA,SALVADOR,BA,...,"=VLOOKUP(E36,[2]Principal!$C:$I,7,0)","=VLOOKUP(E36,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I36,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I36,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O36="""","""",IF(Z36="""",NETWORKDAYS.IN...",SIM,=AA36=O36,=AA36<O36
35,36.0,JANEIRO,BA,VIP ENTREGA,337991.0,1.0,584.90,VJ FARMA LTDA,SALVADOR,BA,...,"=VLOOKUP(E37,[2]Principal!$C:$I,7,0)","=VLOOKUP(E37,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I37,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I37,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O37="""","""",IF(Z37="""",NETWORKDAYS.IN...",SIM,=AA37=O37,=AA37<O37
36,37.0,JANEIRO,BA,VIP ENTREGA,337992.0,2.0,1776.31,VJ FARMA LTDA,SALVADOR,BA,...,"=VLOOKUP(E38,[2]Principal!$C:$I,7,0)","=VLOOKUP(E38,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I38,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I38,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O38="""","""",IF(Z38="""",NETWORKDAYS.IN...",SIM,=AA38=O38,=AA38<O38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,2398.0,JANEIRO,BA,VDC LOG,340481.0,4.0,2464.26,FARMACIA SANTA IZABEL LTDA,TANHACU,BA,...,"=VLOOKUP(E2398,[2]Principal!$C:$I,7,0)","=VLOOKUP(E2398,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I2398,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I2398,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O2398="""","""",IF(Z2398="""",NETWORKDAY...",None,=AA2398=O2398,=AA2398<O2398
2397,2399.0,JANEIRO,BA,VDC LOG,340482.0,1.0,564.95,FARMACIA MORAIS LTDA,TUCANO,BA,...,"=VLOOKUP(E2399,[2]Principal!$C:$I,7,0)","=VLOOKUP(E2399,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I2399,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I2399,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O2399="""","""",IF(Z2399="""",NETWORKDAY...",None,=AA2399=O2399,=AA2399<O2399
2398,2400.0,JANEIRO,BA,VDC LOG,340483.0,1.0,408.70,ELIZANIA MACAUBAS SANTOS,CANARANA,BA,...,"=VLOOKUP(E2400,[2]Principal!$C:$I,7,0)","=VLOOKUP(E2400,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I2400,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I2400,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O2400="""","""",IF(Z2400="""",NETWORKDAY...",None,=AA2400=O2400,=AA2400<O2400
2399,2401.0,JANEIRO,BA,VDC LOG,340484.0,1.0,1133.97,THALYS E JADIEL COMERCIO DE MEDICAM LTDA,ITARANTIM,BA,...,"=VLOOKUP(E2401,[2]Principal!$C:$I,7,0)","=VLOOKUP(E2401,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I2401,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I2401,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O2401="""","""",IF(Z2401="""",NETWORKDAY...",None,=AA2401=O2401,=AA2401<O2401
2400,2402.0,JANEIRO,BA,VDC LOG,340485.0,37.0,26355.74,ANDRE DE SENA ROCHA,ITORORO,BA,...,"=VLOOKUP(E2402,[2]Principal!$C:$I,7,0)","=VLOOKUP(E2402,[2]Principal!$C:$Q,15,0)",None,None,"=IFERROR(VLOOKUP(I2402,[1]!BA[#Data],3,0),"""")","=IFERROR(VLOOKUP(I2402,[1]!BA[#Data],2,0),"""")","=IFERROR(IF(O2402="""","""",IF(Z2402="""",NETWORKDAY...",None,=AA2402=O2402,=AA2402<O2402

In [4]:
import pandas as pd
from openpyxl import load_workbook

# Carregar o arquivo Excel usando openpyxl
wb = load_workbook(caminho, data_only=True)  # Certifique-se de usar data_only=True para obter os valores calculados

# Ler a folha específica em um DataFrame Pandas
sheet_name = 'F&F BA'
df = pd.read_excel(caminho, sheet_name=sheet_name)

# Fechar o arquivo Excel
wb.close()

C:\Users\FARIAS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Slicer List extension is not supported and will be removed
  warn(msg)

In [5]:
display(df)

,Quant,Mês,Origem,Transportadora,NF,Volume,Valor,Cliente,Cidade,UF,...,Data Documento de Transporte,Data do Canhoto,Canal,Codigo Cliente,Mesorregião,Microrregião,Dias Uteis,1 ° COLETA,Verificação,Verificação II
0,1,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20635,2,1185.00,M & C ARAUJO DROGARIA LTDA,PIRIPIRI,PI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
1,2,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20636,10,3433.89,MARTA FORTES CASTELO BRANCO ME,ESPERANTINA,PI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
2,3,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20637,1,2940.75,AMERICA MEDICAMENTOS E CORRELATOS L,TERESINA,PI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
3,4,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20638,6,3091.31,SUELY BARBOSA E SILVA ALVES FARMACE LTDA,TERESINA,PI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
4,5,SETEMBRO,PI,TRANSCARGA REPRESENTACOES LTDA,20639,1,686.82,KELLEY C B SLVA,TERESINA,PI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,2398,JANEIRO,BA,VDC LOG,340481,4,2464.26,FARMACIA SANTA IZABEL LTDA,TANHACU,BA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2397,2399,JANEIRO,BA,VDC LOG,340482,1,564.95,FARMACIA MORAIS LTDA,TUCANO,BA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2398,2400,JANEIRO,BA,VDC LOG,340483,1,408.70,ELIZANIA MACAUBAS SANTOS,CANARANA,BA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2399,2401,JANEIRO,BA,VDC LOG,340484,1,1133.97,THALYS E JADIEL COMERCIO DE MEDICAM LTDA,ITARANTIM,BA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2400,2402,JANEIRO,BA,VDC LOG,340485,37,26355.74,ANDRE DE SENA ROCHA,ITORORO,BA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN